div{
	background-color: lightblue;
}
h1{
	text-align:center;
}
img{
	height:auto;
	width:30%;
	padding:5%;
}
html{
	margin:5%;
	background-color: lightblue;
}
.row{
	text-align: center;
}
button{
	margin:auto;
	display:inline-block;
	width: 15%;
}